<h1><%= t ".help" %></h1>
<p>
	<%= t ".gethelp" %>
	<a href="https://www.railstutorial.org/help"></a>
  <%= link_to t(".helppage"), Settings.help %>
	To get help on this sample app, see the
  <%= link_to Settings.book do %>
    <em><%= t ".tutorial" %></em> <%= t ".book" %>
  <% end %>
</p>
